<!DOCTYPE html>
<html>
    <head>
        <title>TMP</title>
    </head>
    <body>
        <h1>요통약(파스) 목록</h1>
        <a href="URL">파스의 명가 후끈 핫</a><br>
        <a href="URL">신신파프 HOT파스</a><br>
        <a href="URL">찜파스</a><br>
        <a href="URL">케네펜</a><br>
        <a href="URL">신신파프 쿨 파스</a><br>
        <a href="URL">쿨 제일파스</a><br>
        <a href="URL">쿨파프</a><br>
        <a href="URL">케토크린24</a><br>
        <a href="URL">이부스타</a><br>
        <a href="URL">페노크린</a><br>
        <a href="URL">신신 냉파프</a><br>
    </body>
</html>