<!DOCTYPE html>
<html>
    <head>
        <title>TMP</title>
    </head>
    <body>
        <h1>감기약 목록</h1>
        <a href="URL">코대원에스시럽</a><br>
        <a href="URL">용각산</a><br>
        <a href="URL">펜싹 프레쉬</a><br>
        <a href="URL">시네츄라</a><br>
        <a href="URL">타이레놀</a><br>
        <a href="URL">판콜에이</a><br>
        <a href="URL">판피린티</a><br>
        <a href="URL">클라리틴</a><br>
        <a href="URL">지르텍</a><br>
        <a href="URL">페니라민</a><br>
        <a href="URL">알지엔</a><br>
        <a href="URL">플로라딘</a><br>
        <a href="URL">판콜아이</a><br>
        <a href="URL">챔프시럽</a><br>
        <a href="URL">콜대원</a><br>
        <a href="URL">부루펜</a><br>
    </body>
</html>