<!DOCTYPE html>
<html>
    <head>
        <title>TMP</title>
    </head>
    <body>
        <h1>두통약 목록</h1>
        <a href="URL">게보린</a><br>
        <a href="URL">이지엔6</a><br>
        <a href="URL">탁센</a><br>
        <a href="URL">페인엔젤</a><br>
        <a href="URL">브레핀</a><br>
        <a href="URL">펜다나</a><br>
        <a href="URL">에드빌 정</a><br>
        <a href="URL">그날엔</a><br>
        <a href="URL">이지엔6 프로</a><br>
        <a href="URL">덱스피드</a><br>
        <a href="URL">덱시프루펜</a><br>
        <a href="URL">아스피린</a><br>
        <a href="URL">미가펜</a><br>
        <a href="URL">마이드린</a><br>
    </body>
</html>