<!DOCTYPE html>
<html>
    <head>
        <title>TMP</title>
    </head>
    <body>
        <h1>복통약 목록</h1>
        <a href="URL">겔포스엠 현탁액</a><br>
        <a href="URL">개비스콘 더블액션</a><br>
        <a href="URL">개비스콘 페퍼민트</a><br>
        <a href="URL">포나민</a><br>
        <a href="URL">부스코판 당의정</a><br>
        <a href="URL">부스코판 플러스정</a><br>
        <a href="URL">로이디펜 스탑폴</a><br>
        <a href="URL">트리싹정</a><br>
        <a href="URL">삼메틴정</a><br>
        <a href="URL">트리메부틴</a><br>
        <a href="URL">이지정</a><br>
        <a href="URL">스타빅</a><br>
        <a href="URL">포타겔 현탁액</a><br>
        <a href="URL">에세푸릴 캡슐</a><br>
        <a href="URL">알디스탑</a><br>
    </body>
</html>