<!DOCTYPE html>
<html>
    <head>
        <title>TMP</title>
    </head>
    <body>
        <h1>치통약 목록</h1>
        <a href="URL">세소다인</a><br>
        <a href="URL">시린메드</a><br>
        <a href="URL">탄툼</a><br>
        <a href="URL">헥사메딘</a><br>
        <a href="URL">아프니벤큐</a><br>
        <a href="URL">인사돌</a><br>
        <a href="URL">인사돌플러스</a><br>
        <a href="URL">덴큐정</a><br>
        <a href="URL">덴트미정</a><br>
        <a href="URL">덴타퀵정</a><br>
        <a href="URL">이가탄</a><br>
        <a href="URL">이가탄에프</a><br>
        <a href="URL">이트린</a><br>
        <a href="URL">이튼튼</a><br>
        <a href="URL">덴트리스</a><br>
    </body>
</html>