{% load static %}

<head>
    <link href= "{% static './css/main.css' %}" rel="stylesheet">
</head>

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>증상 별 약 구별 서비스</title>
</head>
<body>
    <a href="/"><input type="button" value="감기"></a>
    <a href="/"><input type="button" value="요통"></a>
    <a href="/"><input type="button" value="두통"></a>
    <a href="/"><input type="button" value="근육통"></a>
    <a href="/"><input type="button" value="복통"></a>
    <a href="/"><input type="button" value="치통"></a>
</body>
</html>