{% load static %}

<head>
    <link href= "{% static './css/main.css' %}" rel="stylesheet">
    
</head>

<!DOCTYPE html>
<html lang="ko">

<body>
    <h1><image src="/static/image/logo2-1.JPG" style="width:550px; height: 350px; margin-left: -50px; margin-top: -300px;"></h1>
    <a href="/"><button>감기</button></a>
    <a href="/"><button class="head">두통</button></a>
    <a href="/"><button class="back">요통</button></a>
    <a href="/"><button class="muscle">근육통</button></a>
    <a href="/"><button class="stomach">복통</button></a>
    <a href="/"><button class="tooth">치통</button></a>
</body>
</html>
