<!DOCTYPE html>
<html>
    <head>
        <title>TMP</title>
    </head>
    <body>
        <h1>근육통약 목록</h1>
        <a href="URL">부루펜</a><br>
        <a href="URL">애니펜</a><br>
        <a href="URL">아나프록스</a><br>
        <a href="URL">록프로펜</a><br>
        <a href="URL">에어탈</a><br>
        <a href="URL">타이레놀이알</a><br>
        <a href="URL">프렉스</a><br>
        <a href="URL">카르몰</a><br>
        <a href="URL">올페드린</a><br>
        <a href="URL">엑소페린</a><br>
        <a href="URL">실다루드</a><br>
        <a href="URL">한미리렉스</a><br>
        <a href="URL">맨소래담</a><br>
        <a href="URL">신신파스 아렉스</a><br>
        <a href="URL">미니온</a><br>
        <a href="URL">노펜피록시캄</a><br>
        <a href="URL">케토톱</a><br>
        <a href="URL">푸로탑</a><br>
        <a href="URL">볼타렌</a><br>
    </body>
</html>